.player-wrapper {
    /* min-width: 700px !important;
    overflow: visible; */
    /* min-height: 600px; */
}

.react-player {
}

.left-button {
    /* position: absolute; */
    /* top: 45%; */
    /* left: -8%; */
    /* z-index:1; */
    /* font-size: 5vh; */
    float: right;
    font-size: 40px;
    color: white !important;
    border-radius: 10px;
}

.left-button:hover {
    color: #f2fde4 !important;
    background-color: #FF0000;
    cursor: pointer !important;
}

.right-button {
    /* position: absolute; */
    /* top: 45%; */
    /* right: -4%; */
    z-index:1;
    /* font-size: 5vh; */
    font-size: 40px;
    color: #f2fde4 !important ;
    border-radius: 10px;
    float: left;
}

.right-button:hover {
    color: #f2fde4 !important;
    background-color: #FF0000;
    cursor: pointer !important;
}